/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Menu principal */

nav {
    text-align: center;
  }

nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Contenedor de tablas */
.table-container {
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.table-container h2 {
    color: #00796b;
    font-size: 1.8em;
    padding: 15px;
    margin: 0;
    background-color: #e0f2f1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Estilos de tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #00796b;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Footer */
footer {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1em;
}